body {
	min-height: 100vh;
	background-image: linear-gradient(-135deg, #E36A85 , #5F4B8B);
}

main {
	padding-top: 36px;
}

/* ロゴ */
div.logo-wrapper {
	text-align: center;
}
div.logo-wrapper img.logo-icon {
	height: 48px;
}
div.logo-wrapper .logo {
	font-size: 2em;
}

/* ログインフォーム */
h5 {
	margin-bottom: 20px;
}

/* 新規登録エリアへのリンク */
.link-wrapper {
	margin-top: 24px;
	text-align: center;
}

/* エラー表示 */
.err-wrapper {
	line-height: 1.5;
	padding: 16px;
	border-radius: 2px;
	margin-bottom: 16px;
}