.container {
	padding-top: 16px;
}

/* 選択肢グループ */
.choices {
	margin: 36px 0px; 
}

/* 学習状況 */
.progress-wrapper {
	padding-right: 16px;
}
.progress-wrapper .number{
	font-size: 2em;
	font-weight: bold;
	vertical-align: middle;
}
.progress-title {
	vertical-align: middle;
	margin-right: 24px;
}
.progress-unit {
	vertical-align: middle;
}

/* エンプティーステート */
.empty-states {
	padding: 64px;
	text-align: center;
}
.empty-states p {
	text-align: center;
}
.empty-image {
	width: 182px;
	height: 256px;
	background-image: url("../images/course_clear.png");
	background-repeat: no-repeat;
	margin: 36px auto;
}